<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA-4 Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FP2VEQZF5N"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FP2VEQZF5N');
</script>

</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('faq') }}">FAQ</a>
    </div>

    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to GA-4!</h1>
        <p>This is a simple Flask website.</p>
        <p>Click here to download our PDF file:</p>
        <a href="{{ url_for('static', filename='files/Permohonan Data Bagi Pekerja Sambilan Di Universiti Brunei Darussalam (UBD).pdf') }}" 
           download="GA4-Sample.pdf">
           Download
        </a>
    </div>
</body>
</html>
